@model Final_Project.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>  @Html.DisplayFor(model => model.Name)</h2>

<div>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <img src=" @Html.DisplayFor(model => model.ImagePath)" with="200" height="200" />
            </dd>
           
            <dd>
                Provider: @Html.DisplayFor(model => model.Provider)
            </dd>

            <dd>
                Price:  @Html.DisplayFor(model => model.Price)
            </dd>

            <dd>
                Created At:  @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dd>
                Brief Detail
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ShortDesc)
            </dd>

            <dd>
                More Detail
            </dd>

            <dd>
                @Html.DisplayFor(model => model.LongDesc)
            </dd>

            <dd>
                @Html.DisplayNameFor(model => model.Active)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
